.waiting-battle-content {
    background: url('../../../../assets/background/sontinhthuytinh-2.jpg') center center no-repeat;
    background-size: 1400px;
    width: 100%;
    height: 680px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: relative;
    margin: 0px auto;
    color: white;

    .main-content {
        display: flex;
        flex-direction: row;
        border: 1px solid white;
        justify-content: space-between;

        .left-content {
            width: 30%;
            background-color: rgba($color: #000000, $alpha: 0.5) !important;
            padding: 20px;

            .hero-selection {
                padding: 0px 40px;
            }

            .title {
                background: linear-gradient(to right, #3f3f3f, transparent);
                width: 100%;
                height: 15%;
                border-radius: 20px 0px 0px 20px;
                font-size: 16px;
                padding: 8px 20px;
            }
        }

        .middle-content {
            width: 30%;
            padding: 20px;


            .mid-title {
                background: url('../../../../assets/element/taotrandau.png') center center no-repeat;
                background-size: 100%;
                width: 100%;
                height: 15%;
            }
        }

        .right-content {
            width: 30%;
            background-color: rgba($color: #000000, $alpha: 0.5) !important;
            padding: 20px;

            .room-waiting {
                text-align: center;
                // background: url('../../../../assets/element/khung_tgtt.png') center center no-repeat;
                background-size: 200px;
                margin: auto;
                background: linear-gradient(to right, transparent, #3f3f3f);
                width: 100%;
                height: 15%;
                border-radius: 0px 20px 20px 0px;
                font-weight: 600;
                align-items: center;

                .room-detail {}

                .join-room {
                    width: 50% !important;
                    background: none;

                    .input-room {
                        background: none !important;
                        color: white;
                        height: 30px;
                        border-radius: 15px 0px 0px 15px;
                        padding: 0px 20px;
                        -webkit-appearance: none;
                        opacity: 0.8;

                    }

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    input:focus {
                        box-shadow: none;
                        border: 1px solid white;
                        opacity: 1;
                    }

                    ::placeholder {
                        color: rgb(255, 255, 255);
                    }

                    .join-room-btn {
                        height: 30px;
                        border-radius: 15px 15px 15px 15px;
                        font-size: 8px;
                        padding: 0px 10px;
                        opacity: 0.8;

                    }

                    .join-room-btn:focus {
                        box-shadow: none;
                        opacity: 1;
                    }
                }
            }
        }
    }
}